* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(153, 153, 226);
  font-size: 1.02rem;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
.left {
  font-size: 1.5rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 2rem;
  margin: 30px 0;
}
.leftSection .buttons {
  padding: 50px 0;
}
.leftSection .btn {
  padding: 12px;
  background: #05073f;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.leftSection .btn a {
  text-decoration: none;
  color: white;
}
.rightSection img {
  width: 95%;
  margin: 50px 0;
}
.name {
  color: rgb(170, 107, 228);
}
#element {
  color: rgb(170, 107, 228);
}
.Secondsection {
  max-width: 80vw;
  margin-left: 60px;
  height: 80vh;
  padding: 50px 0;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}
.Secondsection h1 {
  font-size: 1.9rem;
}
.work {
  color: gray;
}
.Secondsection .hori-line {
  background: white;
  width: 89vw;
  height: 2px;
  margin: 66px 0;
  display: flex;
}
.Secondsection .ver-line {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 120px;
}
.ver-title-dsa {
  position: relative;
  top: 30px;
  left: -50px;
  width: 150px;
}
.ver-title-html {
  position: relative;
  top: 30px;
  left: -50px;
  width: 150px;
}
.ver-desc-dsa {
  position: relative;
  top: 45px;
  left: -50px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
.ver-desc-html {
  position: relative;
  top: 45px;
  left: -50px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
.image-dsa {
  width: 53px;
  position: relative;
  top: -55px;
  left: -24.99px;
}
.image-html {
  width: 53px;
  position: relative;
  top: -55px;
  left: -24.99px;
}
.image-css {
  width: 48px;
  position: relative;
  top: -69px;
  left: -24.99px;
}
.image-javascript {
  width: 53px;
  position: relative;
  top: -55px;
  left: -24.99px;
}
.image-java {
  width: 85px;
  position: relative;
  top: -80px;
  left: -42px;
}
.ver-title-java {
  position: relative;
  top: 1px;
  left: -50px;
  width: 150px;
}
.ver-desc-java {
  position: relative;
  top: 15px;
  left: -50px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
.ver-title-css {
  position: relative;
  top: 15px;
  left: -50px;
  width: 150px;
}
.ver-desc-css {
  position: relative;
  top: 30px;
  left: -50px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
.ver-title-javascript {
  position: relative;
  top: 15px;
  left: -50px;
  width: 150px;
}
.ver-desc-javascript {
  position: relative;
  top: 30px;
  left: -50px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
.thirdSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
  padding: 50px 0;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}
.thirdSection h1 {
  font-size: 1.9rem;
}
.study {
  color: gray;
}
.thirdSection .hori-line1 {
  background: white;
  width: 53vw;
  height: 2px;
  margin: 30px 0;
  display: flex;
}
.thirdSection .ver-line1 {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 120px;
}
.ver-title1 {
  position: relative;
  top: 90px;
  left: -55px;
  width: 150px;
}
.ver-title2 {
  position: relative;
  top: 90px;
  left: -55px;
  width: 150px;
}
.ver-title3 {
  position: relative;
  top: 90px;
  left: -55px;
  width: 150px;
}
.ver-desc1 {
  position: relative;
  top: 100px;
  left: -55px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
.ver-desc2 {
  position: relative;
  top: 100px;
  left: -55px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
.ver-desc3 {
  position: relative;
  top: 100px;
  left: -55px;
  color: gray;
  width: 150px;
  font-size: 9px;
}
footer {
  background-color: #0e0e1a;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer-first h3 {
  color: gray;
}
.footer-second a {
  text-decoration: none;
  color: gray;
}
.footer-second a:hover {
  text-decoration: none;
  color: rgb(153, 153, 226);
  font-size: 1.02rem;
}
.footer-third a {
  text-decoration: none;
  color: gray;
}
.footer-third a:hover {
  text-decoration: none;
  color: rgb(153, 153, 226);
  font-size: 1.02rem;
}
.footer-forth a {
  text-decoration: none;
  color: gray;
}
.footer-forth a:hover {
  text-decoration: none;
  color: rgb(153, 153, 226);
  font-size: 1.02rem;
}
footer .footer-text-contact {
  text-align: center;
  color: rgb(92, 91, 91);
  padding: 12px 0;
}
/** responsive **/
@media screen and (max-width: 1250px) {
  nav {
    flex-direction: column;
  }

  .firstSection {
    flex-direction: column-reverse;
  }
  .firstSection .leftSection {
    font-size: 2rem;
    margin: 30px 0;
  }
  .firstSection .rightSection img {
    width: 45vw;
    margin-bottom: 73px;
  }
  .firstSection .rightSection {
    width: 721px !important;
    display: flex;
    justify-content: center;
  }
  .Secondsection {
    height: 156vh;
    margin: auto;
    max-width: 80vw;
  }
  .Secondsection .hori-line {
    flex-direction: column;
  }
  .Secondsection .ver-line {
    height: 340px;
  }
  .Secondsection .ver-desc-dsa,
  .ver-desc-css,
  .ver-desc-html,
  .ver-desc-java,
  .ver-title-dsa,
  .ver-title-css,
  .ver-title-html,
  .ver-title-java,
  .ver-desc-javascript,
  .ver-title-javascript {
    left: 33px;
  }
  .ver-title-html {
    top: 84px;
  }
  .ver-desc-html {
    top: 92px;
  }
  .image-html {
    top: 141px;
  }
  .ver-title-css {
    top: 101px;
  }
  .ver-desc-css {
    top: 113px;
  }
  .image-css {
    top: 163px;
  }
  .ver-title-javascript {
    top: 144px;
  }
  .ver-desc-javascript {
    top: 150px;
  }
  .image-javascript {
    top: 204px;
  }
  .ver-title-java {
    top: 153px;
  }
  .ver-desc-java {
    top: 164px;
  }
  .image-java {
    top: 222px;
  }
  .ver-title-dsa {
    top: 161px;
  }
  .ver-desc-dsa {
    top: 167px;
  }
  .image-dsa {
    top: 223px;
  }
  .thirdSection {
    height: 51vh;
  }
  .thirdSection .hori-line1 {
    flex-direction: column;
  }
  .thirdSection .ver-line1 {
    height: 340px;
  }
  .thirdSection .ver-title1,
  .ver-title2,
  .ver-title3,
  .ver-desc1,
  .ver-desc2,
  .ver-desc3 {
    left: 33px;
  }
  .ver-title1 {
    top: 40px;
  }
  .ver-desc1 {
    top: 49px;
  }
  .ver-title2 {
    top: 55px;
  }
  .ver-desc2 {
    top: 64px;
  }
  .ver-title3 {
    top: 71px;
  }
  .ver-desc3 {
    top: 82px;
  }

  body {
    min-width: fit-content;
  }
}
